body {
  width: 450px;
  height: auto;
  font: normal 12px/12px Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#bio h1 {
  margin: 0px 0px 5px;
  padding: 5px 0px;
  font-weight: bold;
  font-size: 20px/20px;
}

#bio img {
  float: left;
  width: 96px;
  height: 96px;
  margin: 2px 10px 5px 0px;
}

#bio p#description {
  margin: 0px 0px 10px;
  line-height: 1.4em;
}

#bio span#readmore {
  display: inline-block;
  padding: 4px 0px 0px;
}

#bio span#readmore a {
  color: black;
  font-weight: bold;
}

#bio span#readmore a:hover {
  text-decoration: none;
}

#concerts {
  margin: 10px 0px;
  padding: 7px 9px;
  background: #eee;
  border-radius: 6px;
}

#concerts h2 {
  margin: 0px 0px 6px;
  padding: 4px 0px;
}

#concerts ul {
  margin: 4px 0px 4px 0px;
}

#concerts ul li {
  padding: 3px 0px;
}

#concerts ul li a {
  color: black;
  font-weight: bold;
}

#concerts ul li a:hover {
  text-decoration: none;
}

#poweredby {
  margin: 10px 0px 0px;
  padding: 6px 5px 8px;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

#poweredby h2 {
  margin: 0px 0px 6px 4px;
  padding: 0px;
  font-size: 10px;
  font-weight: normal;
}

#poweredby a {
  text-decoration: none;
}

#poweredby img {
  padding: 0px 5px;
  border: 0px;
}